@media (max-width: 600px) {
    section {   
        display: flex ;
        flex-flow: row wrap column;
      background-color: red  ;
      font-size: 11px;
    }
  }
  @media (min-width: 601px) and (max-width: 800px) {
    header {   
        width: 60%;
      background-color: green;
    }
    article{
        width: 30%;
        background-color: blue;
    }
    section{
        display: flex ;
        flex-flow: row wrap column;
        font-size: 12px;
    }
  }

  @media (min-width: 801px){
    header {   
        width: 80%;
      background-color:violet ;
    }
    article{
        width: 15%;
        background-color: yellow;
    }
    section{
        display: flex ;
        flex-flow: row wrap column;
        font-size: 14px;
    }
  }
  